<h1>Student#index</h1>
#once a schedule is created, the student would be removed from the current_index. 

<p><h3>Hello, Tutors! Below, you'll find a list of students needing help.</br>
If you can help them, please hit the SCHEDULE LESSON button next to their name, and </br>
fill out the necessary info to schedule a time to meet. Thanks!</h3></p>

<h2>STUDENTS:</h2>

<% @students.each do |s| %>
    <ul>
   
    <li> <a href="/tutors/<%= @tutor.id %>/students/<%= s.id %>">
    <%= s.first_name %> <%= s.last_name[0] %>.
    is in <%= s.grade %>th grade, and needs help in <%= s.subject_help %>,
    specifically: "<%= s.student_bio %></br>
    
    </li>
    </ul>
<% end %>

