<i><Student#show></i>
</br>
CURRENT STUDENT PROFILE:</br>
<p><i>Name:</i> <%= @student.first_name %> <%= @student.last_name %></br>
<i>Grade:</i> <%= @student.grade %></br>
<i>Needs help in:</i> <%= @student.subject_help %></br>
<i>Specifically:</i> <%= @student.student_bio %></br></p>

<% if current_user.class == Student %>
<h3>Hi <%= @student.first_name %>!</h3>
This is your page. From here you can:</br>
    <%= button_to 'EDIT YOUR PROFILE', edit_student_path(@student), method: :get %> </br>
    <%= button_to 'LIST OF TUTORS', student_tutors_path(@student), method: :get %></br>
    <%= button_to 'VIEW YOUR UPCOMING LESSONS', student_lessons_path(@student_id, @tutor_id, @lessons), method: :get %></br>
    <%= button_to 'DELETE YOUR PROFILE', student_path(@student.id), method: :delete, data:{Confirm: "Are you sure you want to delete your account?"} %> </br>
</br>
<% elsif current_user.class == Tutor %>
    <%= button_to "Schedule Lesson With This Student", new_tutor_student_lesson_path(@tutor.id, @student.id), method: :get %>~or~</br>
    <%= button_to "<< FIND A STUDENT", tutor_students_path, method: :get %>
<% else %> 
    Can't Find the User!
<% end %>

