<h3>EDIT Tutor information for:</h3>
<h3><%= @tutor.first_name %> <%= @tutor.last_name %>, "<%= @tutor.username %>"</br></h3>

<%= render 'error_msg' %>

<%= form_with model: @tutor do |f| %>
   
<%= render partial: "tutor_form", locals: {in_partial: f} %> 
  
    <%= f.submit "Update Your Tutor Information" %>
<% end %>