<h4>EDIT Tutor information for:</h4>
<h3><%= @tutor.first_name %> <%= @tutor.last_name %>, "<%= @tutor.username %>"</br></h3>

<% if @tutor.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@tutor.errors.count, "error") %> prohibited this tutor from being saved:</h2>

    <ul>
      <% @tutor.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @tutor do |f| %>
   
    <%= f.label :first_name, "First Name:" %>
    <%= f.text_field :first_name %></br>
    <%= f.label :last_name, "Last Name:" %>
    <%= f.text_field :last_name %></br>
    <%= f.label :years_exp, "Years of Experience:" %>
    <%= f.select :years_exp, ["1 to 2 years", "3 to 5 years", "6 to 9 years", "10 to 15 years", "over 15 years"] %></br>
    <%= f.label :subject_taught, "Subject(s) Taught:" %>
    <%= f.select :subject_taught, ["English", "Math", "Science", "History", "Arts & Humanities", "Foreign Language", "Computer Science", "Other"] %></br>
    <%= f.label :tutor_bio, "Biography (please give some additional background to share with your students:" %></br>
    <%= f.text_area :tutor_bio, size: "60x7"%></br>
  
    <%= f.submit "Update Your Tutor Information" %>
<% end %>