<h1>Tutor#index</h1>

<p><h3>Hello, Scholars! Below, you'll find a list of tutors offering their help.</br>
If their area of expertise matches the help you need, please hit the SCHEDULE LESSON button </br>
next to their name, and fill out the necessary info to schedule a time to meet. Thanks!</h3></p>

<h2>AVAILABLE TUTORS:</h2>

<% @tutors.each do |t| %>
    <ul>
    <li><%= t.first_name %> <%= t.last_name %>
    has taught/tutored <%= t.subject_taught %> for <%= t.years_exp %> years</br>
    for the following grades:</br>
    Bio: <%= t.tutor_bio %>
    <%= link_to "Schedule Lesson", new_lesson_path(t) %>
    </li>
    </ul>
    <% end %>