<h3>New Tutor Form:</h3>

Create an account using your Google account:</br>
<%= button_to "Create a NEW TutorHub account with Google", '/auth/google_oauth2'  %>

<%= render 'error_msg' %>

<%= form_with model: @tutor do |f| %>
    <%= f.label "email:" %>
    <%= f.email_field :email %></br>
    <%= f.label "username:" %>
    <%= f.text_field :username %></br>
    <%= f.label "password:" %>
    <%= f.password_field :password %></br>

    <%= render partial: "tutor_form", locals: {in_partial: f} %> 

    <%= f.submit "Create Tutor Account" %>
<% end %>
