<h1>New Tutor Form</h1>

<% if @tutor.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@tutor.errors.count, "error") %> prohibited this tutor from being saved:</h2>

    <ul>
      <% @tutor.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @tutor do |f| %>
    <%= f.label :first_name, "First Name:" %>
    <%= f.text_field :first_name %></br>
    <%= f.label :last_name, "Last Name:" %>
    <%= f.text_field :last_name %></br>
    <%= f.label "email:" %>
    <%= f.email_field :email %></br>
    <%= f.label "username:" %>
    <%= f.text_field :username %></br>
    <%= f.label "password:" %>
    <%= f.password_field :password %></br>
    <%= f.label :years_exp, "Years of Experience:" %>
    <%= f.text_field :years_exp %></br>
    <%= f.label :subject_taught, "Subject(s) Taught:" %>
    <%= f.select :subject_taught, ["English", "Math", "Science", "History", "Arts & Humanities", "Foreign Launguage", "Computer Science", "Other"] %></br>
    <%= f.label :tutor_bio, "Biography (please give some additional background to share with your students:" %></br>
    <%= f.text_area :tutor_bio, size: "60x10"%></br>

    <%= f.submit "Create Tutor Account" %>
    <% end %>

    or create an account using Google or Github:
(after creating redirect to #edit to complete missing fields)
