<i>Tutor#show</i></br>
<p>TUTOR INFORMATION:</br>
<%= @tutor.first_name %> <%= @tutor.last_name %></br>
Has been teaching
<% if @tutor.subject_taught %> 
    <%= @tutor.subject_taught %>
<% else %>
    <i>"please enter subject" </i>
<% end %>   for:
<% if @tutor.years_exp %> 
    <%= @tutor.years_exp %>
<% else %>
<i>"please enter years of experience"</i>
<% end  %> years</br>
Tutor Bio: 
<% if !@tutor.tutor_bio.blank? %> 
    <%= @tutor.tutor_bio %>
<% else %>
<i>"please include classes and grades you have taught"</i>
<% end  %></p>

<% if @current_user.class == Tutor %>
    <h2>Hi <%= @tutor.first_name %>!</h2>
    This is your page. From here you can:</br>
    <%= button_to '- EDIT YOUR TUTOR PROFILE', edit_tutor_path(@tutor), method: :get %> </br>
    <%= button_to '- FIND A STUDENT', tutor_students_path(@tutor), method: :get %></br>
    <%= link_to "- VIEW YOUR UPCOMING LESSONS", lessons_path(@tutor, @students) %></br>
    <%= button_to "- DELETE YOUR PROFILE", tutor_path(@tutor.id), method: :delete, data:{Confirm: "Are you sure you want to delete your account?"} %> </br>
</br>
<% elsif @current_user.class == @current_student.class %>
    <%= link_to "Schedule Lesson With This Tutor", new_student_tutor_lesson_path(@student.id, @tutor) %>
<% else %> 
    Can't Find the User!
<% end %>
