<i>Tutor#show</i></br>

<h4><p>TUTOR INFORMATION:</br>
<%= @tutor.first_name %> <%= @tutor.last_name %></br>
Has been teaching
<% if @tutor.subject_taught %> 
    <%= @tutor.subject_taught %>
<% else %>
    <i>"please enter subject" </i>
<% end %>   for
<% if @tutor.years_exp %> 
    <%= @tutor.years_exp %>
<% else %>
<i>"please enter years of experience"</i>
<% end %></br>
Classes/Grades Taught: 
<% if !@tutor.tutor_bio.blank? %> 
    <%= @tutor.tutor_bio %>
<% else %>
<i>"please include classes and grades you have taught"</i>
<% end  %></p></h4>

<% if @current_user.class == Tutor %>
    Hi <%= @tutor.first_name %>!
    This is your page. From here you can:</br>
    <%= button_to 'EDIT TUTOR PROFILE', edit_tutor_path(@tutor), method: :get %> </br>
    <%= button_to 'SEARCH STUDENTS TO TUTOR', tutor_students_path(@tutor), method: :get %></br>
    <%= button_to 'VIEW YOUR UPCOMING LESSONS', tutor_lessons_path(@tutor_id, @student_id, @lessons), method: :get %></br>
    <%= button_to 'DELETE YOUR PROFILE', tutor_path(@tutor.id), method: :delete, data:{Confirm: "Are you sure you want to delete your account?"} %> </br>
</br>
<% elsif @current_user.class == @current_student.class %>
    <%= link_to "Schedule Lesson With This Tutor", new_student_tutor_lesson_path(@student.id, @tutor) %>
<% else %> 
    Can't Find the User!
<% end %>
