<h1>Tutor#show</h1>
TUTOR INFORMATION:</br>
<%= @tutor.first_name %> <%= @tutor.last_name %>
Tutor Bio: <%= @tutor.tutor_bio %></br>

<% if @current_user.class == Tutor %>
    <h3>Hi <%= @tutor.first_name %>!</h3></br>
    This is your page. From here you can:</br>
    <%= link_to '- EDIT your personal information', edit_tutor_path(@tutor) %> </br>
    <%= link_to '- FIND A STUDENT', tutor_students_path(@tutor) %></br>
    - view your calendar of upcoming lessons
    (tutors/:tutor_id/lessons/:lesson_id?</br>
    - delete your account (but why would you want to!?)</br>
<% elsif @current_user.class == @current_student.class %>
    <%= link_to "Schedule Lesson With This Tutor", new_student_tutor_lesson_path(@student.id, @tutor) %>
<% else %> 
    Can't Find the User!
<% end %>
