<i>Lesson#index</i>

<h4>Lesson Schedule for <%= link_to "#{@tutor.first_name} #{@tutor.last_name}", tutor_path(@tutor) %>:</h4>

<% @lessons.each do |les| %>
    
    <% if @current_user.id == les.tutor_id %>
    <ul>
    <li><b><%= link_to "#{@student.first_name} #{@student.last_name[0]}.", tutor_student_path(@tutor.id, @student.id) %> :: 
        <%= @student.grade %>th grade </b>, needs help in <b><%= @student.subject_help %></b>.</br>
   
        <p><i>Location: </i></br>
        <%= les.location %></br>
        <%= les.address_1 %></br>
        <%= les.address_2 %></br>
        ::<b><%= les.meeting_time.strftime("%A %B %-d, %Y @ %I:%M %p") %>::</b></br>
        <%= button_to "Edit This Lesson", edit_tutor_student_lesson_path(@tutor.id, @student.id, les.id) %> </br></p>
    </li>
    </ul>
   
    <% end %>
<% end %>