<h1>Lesson#new</h1>

<strong><%= @tutor.first_name %> <%= @tutor.last_name %></strong> tutoring
<strong><%= @student.first_name %> <%= @student.last_name %></strong>
at: </br></br>

<%= form_with model: @lesson do |f| %>

    <%= f.hidden_field(:tutor_id, :value => @tutor.id) %>
    <%= f.hidden_field(:student_id, :value => @student.id) %>
    <%= f.label "Location:" %>
    <%= f.text_field :location %></br>
    <%= f.label "address_Line_1:" %>
    <%= f.text_field :address_1 %></br>    
    <%= f.label "address_Line_2:" %>
    <%= f.text_field :address_2 %></br>
    <%= f.label :meeting_time, "Meeting_Time:" %>
    <%= f.datetime_field :meeting_time %></br>
    <%= f.label :subject, "Subject:" %>
    <%= f.select :subject, ["English", "Math", "Science", "History", "Arts & Humanities", "Foreign Launguage", "Computer Science", "Other"] %></br> 
    <%= f.label :topic, "Main Topic:" %>
    <%= f.text_field :topic %></br>

    <%= f.submit %>

<% end %>