<!DOCTYPE html>
<html>
  <head>
    <title>TutorHub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= link_to "View Students", students_path %> - <%= link_to "View Tutors", tutors_path %> - 
  <%= link_to "Logout", @current_user.class == Tutor ? tutor_logout_path : student_logout_path %>
    <%= yield %>
  </body>
</html>
