<!DOCTYPE html>
<html>
  <head>
    <title>TutorHub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if current_user %>
  <%= button_to "Logout", @current_user.class == Tutor ? tutor_logout_path : student_logout_path, method: :get %>
  <%= button_to "My Schedule", @current_user.class == Tutor ? tutor_lessons_path : student_lessons_path, method: :get %>
  <%= button_to "My Page", current_user.class == Tutor ? tutor_path(current_user.id) : student_path(current_user.id) , method: :get %>
  <% end %>

    <%= yield %>
  </body>
</html>
